@use "../../scss-components/mixins" as *;
@use "../../scss-components/utilities" as *;

.error {
  color: #e91e63;
}

.contact-left {
  @include flex-center(null, null, null, column, null);
}

@media (max-width: 991.98px) {
  .contact-left,
  .contact-form {
    width: 100%;
  }

  .contact-left {
    margin-bottom: 16px;
  }
}