@use "app/shared/scss-components/mixins" as mix;

.profile-container-main {
  min-height: 80vh;

  .profile-container {
    max-width: 500px;
    margin: 5rem auto;
    background-color: var(--card-bg);
    box-shadow: var(--shadow);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Segoe UI', sans-serif;

    h2 {
      color: var(--text-color);
    }

    p {
      color: var(--text-color);
    }

    .profile-actions {
      @include mix.flex-center(center, null, wrap, null, 1rem);

      button {
        padding: 0.8rem 1.6rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:first-child {
          background-color: #22c55e;
          color: white;

          &:hover {
            background-color: #16a34a;
          }
        }

        &:last-child {
          background-color: #ef4444;
          color: white;

          &:hover {
            background-color: #dc2626;
          }
        }
      }
    }
  }

  // responsive
  @media (max-width: 480px) {
    .profile-container {
      margin: 2rem 1rem;
      padding: 1.5rem;

      h2 {
        font-size: 1.6rem;
      }

      .profile-actions {
        @include mix.flex-center(null, null, null, column, 0.8rem);

        button {
          width: 100%;
        }
      }
    }
  }
}