@use "../../../../scss-components/mixins" as *;

.product-card {
  @include transition(all);
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }
  img {
    object-fit: cover;
    height: 280px;
  }
}
