.product-image-wrapper {
  .product-detail-img {
    height: 420px;
  }
}

.star-container {
    position: relative;
    display: inline-block;
}

.filled-star {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}