html,
body {
  box-sizing: border-box !important;
}

.product-image-wrapper {
  .product-detail-img {
    height: 420px;
  }
}

.star-container {
    position: relative;
    display: inline-block;
}

.filled-star {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product-image {
  padding-bottom: 40px;
}



// media query - responsive

@media (max-width: 584px) {
  .btns-div {
    flex-direction: column;
  }
}

@media (max-width: 384px) {
  .product-image-wrapper .product-detail-img {
    height: 360px;
  }
}

@media (max-width: 324px) {
  .product-image-wrapper .product-detail-img {
    height: 280px;
  }
}

@media (max-width: 264px) {
  .product-image-wrapper .product-detail-img {
    height: 170px;
  }
}