<section class="about-section p-top-48 p-right-16 p-bottom-48 p-left-16 text-center bg-white">
  <div class="container">
    <h1 class="fontSize-40 m-bottom-16">
      {{ companyName() }}
    </h1>
    <p class="mission fontSize-19">
      {{ 'We aim to provide high-quality products at the best prices while
      ensuring an exceptional shopping experience.' | translate}}
    </p>
    <p class="year m-bottom-32 fontSize-17">{{ 'Founded in 2025' | translate }}</p>

    <div class="about-details">
      <div class="about-card p-top-24 p-right-24 p-bottom-24 p-left-24 bord-radius-10 bg-white">
        <h3 class="m-bottom-8">
          {{ 'Our Vision' | translate }}
        </h3>
        <p class="fontSize-15">
          {{ 'To become the most trusted online store in the region by offering
          an unmatched variety and customer service.' | translate }}
        </p>
      </div>

      <div class="about-card p-top-24 p-right-24 p-bottom-24 p-left-24 bord-radius-10 bg-white">
        <h3 class="m-bottom-8">
          {{ 'Our Values' | translate }}
        </h3>
        <p class="fontSize-15">
          {{ 'Quality, Integrity, and Customer Satisfaction are at the heart of
          everything we do.' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
