@use "../../scss-components/mixins" as *;
@use "../../scss-components/utilities" as *;

.about-section {
  background: linear-gradient(to bottom, #f9f9f9, #fff);

  h1 {
    color: #009688;
  }

  .mission {
    color: #555;
    max-width: 700px;
    margin: 0 auto 1rem;
  }

  .year {
    font-weight: bold;
    color: #777;
  }

  .about-details {
    @include flex-center(center, null, wrap, null, 24px);

    .about-card {
      box-shadow: 0 4px 15px rgba(0,0,0,0.05);
      max-width: 300px;
      text-align: left;

      h3 {
        color: #009688;
      }

      p {
        color: #555;
      }
    }
  }
}