<section class="about-section">
  <div class="container">
    <h1>
      {{ companyName() }}
    </h1>
    <p class="mission">
      {{ 'We aim to provide high-quality products at the best prices while
      ensuring an exceptional shopping experience.' | translate}}
    </p>
    <p class="year">{{ 'Founded in 2025' | translate }}</p>

    <div class="about-details">
      <div class="about-card">
        <h3>
          {{ 'Our Vision' | translate }}
        </h3>
        <p>
          {{ 'To become the most trusted online store in the region by offering
          an unmatched variety and customer service.' | translate }}
        </p>
      </div>

      <div class="about-card">
        <h3>
          {{ 'Our Values' | translate }}
        </h3>
        <p>
          {{ 'Quality, Integrity, and Customer Satisfaction are at the heart of
          everything we do.' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
