<div id="carouselExampleCaptions" class="carousel slide">

  <!-- carousel-indicators logic -->
  <div class="carousel-indicators">
    @for( item of products; track $index; let i = $index ) {
      <button type="button" name="button"
              [attr.aria-label]="'Slide ' + (i + 1)"
              [attr.title]="'Slide ' + (i + 1)"
              [class.active]="i === currentIndex()"
              (click)="currentIndex.set(i)"
      >
      </button>
    }
  </div>


  <!-- content -->
  <div class="carousel-inner"
      id="productCarousel"
      data-bs-ride="carousel"
      data-bs-interval="3000"
  >
    @for( item of products; track $index; let i = $index ) {
      <div class="carousel-item"
          [class.active]="i === currentIndex()"
      >
        <img [src]="item.images[0]"
              class="d-block w-100"
              alt="{{ item.title | translate }}"
              loading="lazy"
        />
        <div class="carousel-caption d-none d-md-block">

          <h1>{{ item.title | translate }}</h1>
          <p>{{ 'Price' | translate }}: {{ '$' | translate }}{{ item.price }}</p>

          @for( star of stars(); track $index ) {
            <div class="star-container">
              <i class="bi bi-star text-secondary"></i>
              <i class="bi bi-star-fill text-warning filled-star"
                [style.width.%]="getStarFillPercent(item.rating, star)"
                [style.overflow]="'hidden'"
                [style.position]="'absolute'"
              ></i>
            </div>
          }

        </div>
      </div>
    }
  </div>


  <!-- prev btn -->
  <button class="carousel-control-prev"
          type="button"
          (click)="prevSlide()"
          title="Previous"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">
      {{ 'Previous' | translate }}
    </span>
  </button>

  <!-- next btn -->
  <button class="carousel-control-next"
          type="button"
          (click)="nextSlide()"
          title="Next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">
      {{ 'Next' | translate }}
    </span>
  </button>


</div>
