<section class="toolbar">
  <h2>{{ 'Admin' | translate }} · {{ 'Products' | translate }}</h2>

  <div class="spacer"></div>
  <a [routerLink]="['/admin/add-product']"
    class="btn"
  >
    ➕ {{ 'Add Product' | translate }}
  </a>
</section>

@if(loading()){
  <section class="skeleton">
    {{ 'Loading products' | translate }}…
  </section>
}

@if(!loading()){
  <table class="table">
    <thead>
    <tr>
      <th>{{ 'ID' | translate }}</th>
      <th>{{ 'Title' | translate }}</th>
      <th>{{ 'Price' | translate }}</th>
      <th>{{ 'Category' | translate }}</th>
      <th>{{ 'Rating' | translate }}</th>
      <th class="right">{{ 'Actions' | translate }}</th>
    </tr>
    </thead>

    <tbody>
    @for(p of products(); track $index) {
      <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.title | translate }}</td>
        <td>{{ p.price | currency:'USD':'symbol' }}</td>
        <td>{{ p.category | translate }}</td>
        <td>{{ p.rating }}</td>
        <td class="right">
          <a [routerLink]="['/admin/edit-product', p.id]"
            class="btn btn-sm"
          >
            {{ 'Edit' | translate }} ✏️
          </a>
          <button type="button"
                  class="btn btn-sm btn-danger"
                  (click)="deleteProduct(p.id)"
          >
            {{ 'Delete' | translate }} 🗑️
          </button>
        </td>
      </tr>
    }
    </tbody>

  </table>
}


<!-- toasts -->
<app-delete-toasts #deleteToast></app-delete-toasts>
<app-accept-toasts #acceptToast></app-accept-toasts>
<app-alert-toasts #alertToast></app-alert-toasts>
<app-add-toasts #addToast></app-add-toasts>
