<div class="container mt-4">

  <h2>🛠 {{ 'Admin Dashboard' | translate }}</h2>
  <a routerLink="/admin/add-product" class="btn btn-primary mb-3">
    ➕ {{ 'Add Product' | translate }}
  </a>

  <table class="table table-bordered table-hover" *ngIf="!loading; else loadingTpl">
    <thead class="table-dark">
      <tr>
        <th>{{ 'ID' | translate }}</th>
        <th>{{ 'Image' | translate }}</th>
        <th>{{ 'Title' | translate }}</th>
        <th>{{ 'Price' | translate }}</th>
        <th style="width: 150px;">
          {{ 'Actions' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products()">
        <td>{{ product.id }}</td>
        <td><img [src]="product.image" alt="img" width="50"></td>
        <td>{{ product.title }}</td>
        <td>{{ product.price | currency }}</td>
        <td>
          <a class="btn btn-warning btn-sm"
            [routerLink]="['/admin/edit-product', product().id]"
          >
            ✏ {{ 'Edit' | translate }}
          </a>
          <button class="btn btn-danger btn-sm"
                  (click)="deleteProduct(product.id)"
          >
            🗑 {{ 'Delete' | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>



  <!-- toasts -->
  <app-delete-toasts #deleteToast></app-delete-toasts>


  <ng-template #loadingTpl>
    <p>{{ 'Loading products' | translate }}...</p>
  </ng-template>

</div>