@use "app/shared/scss-components/mixins" as mix;

.error {
  color: #e91e63;
}

.contact-left {
  @include mix.flex-center(null, null, null, column, null);
}

@media (max-width: 991.98px) {
  .contact-left,
  .contact-form {
    width: 100%;
  }

  .contact-left {
    margin-bottom: 16px;
  }
}
