<div class="profile-container-main">

  <!-- control-flow syntax -->
  @let user = auth.currentUser();
  @if( user ) {

  <div class="profile-container">
    <h2>Welcome, {{ user?.name || 'User' }}! 👋</h2>
    <p>Your email: <strong>{{ user?.email }}</strong></p>

    <div class="profile-actions">

      <button type="button"
              (click)="goToMyProfile()"
              class="me-1"
      >
        <i class="fa fa-user-alt"></i> My Profile
      </button>

      <button type="button"
              (click)="goToEditPassword()"
              class="me-1"
      >
        <i class="fa fa-pencil-alt"></i> Edit Password
      </button>

      <button type="button"
              (click)="resetPass()"
              class="me-1 bg-warning text-white"
      >
        <i class="fa fa-key"></i> Reset Password
      </button>

      <button type="button"
              (click)="logout()"
              class="ms-1"
      >
        <i class="fa fa-sign-out-alt"></i> Logout
      </button>

    </div>
  </div>

  } @else {
    <p>empty!</p>
  }

</div>