@use "app/shared/scss-components/mixins" as mix;

.product-card {
  @include mix.transition(all);
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }
  img {
    object-fit: cover;
    height: 280px;
  }
}
