<!-- <div class="container-lg mt-4"> -->

  <!-- title -->
  <!-- <h2 class="text-center mb-4">
    🛍 {{ 'Shop' | translate }}
  </h2> -->


  <!-- Filter & Search -->
  <!-- <div class="row mb-4">
    <div class="col-md-6 mb-1">
      <input type="text"
            id="search"
            name="search"
            class="form-control"
            placeholder="{{ 'Search' | translate }} {{ 'products' | translate }}..."
            (input)="onSearch($event)"
      >
    </div>

    <div class="col-md-6">
      <select class="form-select"
              (change)="filterByCategory($event)"
      >
        <option value="all">
          {{ 'All Categories' | translate }}
        </option>
        @for( categ of categories(); track $index ){
          <option [value]="categ">
            {{ categ | titlecase | translate }}
          </option>
        }
      </select>
    </div>
  </div> -->


  <!-- Products -->
  <!-- <div class="row"> -->

    <!-- control flow syntax -->
    <!-- @let paginated = (AllFilteredProducts | paginate: { itemsPerPage: itemsPerPage(), currentPage: page() });
    @for( product of paginated; track $index ) {
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4"
          data-aos="fade-up"
          data-aos-duration="1200"
          data-aos-anchor-placement="center-bottom"
      >
        <div class="card product-card h-100 shadow-sm">
          <img [src]="product.thumbnail"
              class="card-img-top"
              alt="{{ product.title | translate }}"
              loading="lazy"
          >
          <div class="card-body d-flex flex-column">
            <h6 class="card-title">{{ product.title | translate }}</h6>
            <p class="text-muted mb-1">{{ product.category | translate }}</p>
            <p class="fw-bold mb-2">{{ '$' | translate }}{{ product.price }}</p>
            <a class="btn btn-outline-primary btn-sm mt-auto"
              [routerLink]="['/products', 'product-details', product.id]"
            >
              {{ 'View Details' | translate }}
            </a>
            <button class="btn btn-success btn-sm mt-2"
                    (click)="addToCart(product)"
            >
              🛒 {{ 'Add to Cart' | translate }}
            </button>
          </div>
        </div>
      </div>
    }

  </div> -->


  <!-- Pagination Bottom -->
  <!-- <div class="d-flex justify-content-center mt-4">
    <pagination-controls
      (pageChange)="page.set($event)"
      class="page"
    ></pagination-controls>
  </div>

</div> -->



<!-- Toast Components -->
<!-- <app-add-toasts #addToast></app-add-toasts> -->