@use "variables" as *;
@use "mixins" as *;


body.light-theme {
  background-color: $light-bg;
  color: $dark-text;
}

body.dark-theme {
  background-color: $dark-bg;
  color: $light-text;
}

.navbar {
  @include transition(all);

  &.navbar-light {
    background-color: $light-bg !important;
    color: $dark-text;
  }

  &.navbar-dark {
    background-color: $dark-bg !important;
    color: $light-text;
  }
}