// ================================
//            START
// ================================



// ================================
//       THEME VARIABLES

$light-bg: #f8f9fa;
$dark-text: #212529;

$dark-bg: #343a40;
$light-text: #f8f9fa;

// ================================




// ================================
//          VARIABLES

$box-sizing: border-box;
$padding: 1px;
$margin: 1px;
$fontSize: 1px;
// ================================




// ================================
//    $toast-colors palette

$toast-colors: (
  "accept": #17a2b8,
  "add": #28a745,
  "alert": #ffc107,
  "delete": #dc3545
);

// ================================




// ================================
//              END
// ================================