// ================================
// THEME VARIABLES
// ================================

$light-bg: #f8f9fa;
$light-text: #212529;

$dark-bg: #343a40;
$dark-text: #f8f9fa;

// ================================
//          VARIABLES
// ================================

$box-sizing: border-box;
