@use "app/shared/scss-components/mixins" as mix;

.card {
  max-width: 860px;
  margin: 1.25rem auto;
  border: 1px solid #eee;
  box-shadow: 0 8px 24px rgba(0,0,0,.06);

  .grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .75rem;

    label {
      @include mix.flex-center(null, null, null, column, .35rem);
    }

    input,
    textarea {
      border: 1px solid #ddd;
    }

    .col-span {
      grid-column: 1/-1;
    }
  }

  .actions {
    @include mix.flex-center(flex-end, null, null, null, .5rem);

    button {
      border: 0;
      cursor: pointer;
    }
  }
}
