<div class="auth-container-main">
  <div class="auth-container bord-radius-20 p-top-40 p-right-32 p-bottom-40 p-left-32">

    <!-- title -->
    <h2 class="text-center fontSize-32 m-bottom-8 f-weight-600">{{ 'Reset Password' | translate }}</h2>


    <!-- start form -->
    <form (ngSubmit)="reset()">

      <div class="form-group w-100">
        <input
          class="form-control text-dark"
          type="email"
          [value]="email()"
          (input)="onEmailInput($event)"
          name="email"
          id="email"
          placeholder="{{ 'Email' | translate }}"
          required
        />
      </div>

      <div class="form-group w-100">
        <input
          class="form-control text-dark"
          type="password"
          [value]="newPassword()"
          (input)="onPasswordInput($event)"
          name="password"
          id="password"
          placeholder="{{ 'New Password' | translate }}"
          required
        />
      </div>

      <button class="btn"
              type="submit"
      >
        {{ 'Reset Password' | translate }}
      </button>

      <button type="button"
              class="btn btn-outline-secondary btn-lg"
              (click)="goBack(true)">
        ⬅ {{ 'Back' | translate }}
      </button>


      <!-- error and success messages -->
      @if(error()){
        <p class="error text-center m-top-8 fontSize-15">
          {{ error() | translate }}
        </p>
      }
      @if(success()){
        <p class="success text-center m-top-8 fontSize-15">
          {{ 'Password reset! Redirecting' | translate }}...
        </p>
      }

    </form>
    <!-- end form -->

  </div>
</div>


<!-- toasts -->
<app-alert-toasts #alertToast></app-alert-toasts>