@use "../../../shared/scss-components/variables" as vars;
@use "../../../shared/scss-components/mixins" as mix;

// ==============================
// Styles
// ==============================
.auth-container-main {
  min-height: 80vh;

  .auth-container {
    max-width: 420px;
    margin: 50px auto;
    background: linear-gradient(to right, #fdfbfb, #ebedee);

    box-shadow: vars.$shadow-lg;
    font-family: vars.$font-family;
    @include mix.flex-center(null, null, null, column, 1.5rem);
    @include mix.transitions(all);

    h2 {
      color: vars.$color-text;
    }

    form {
      @include mix.flex-center(null, null, null, column, 1rem);

      input {
        @include mix.input-style;
      }

      button {
        @include mix.button(vars.$color-primary, white, vars.$color-primary-hover);
      }

      .success {
        color: vars.$color-success;
      }

      .error {
        color: vars.$color-error;
      }
    }
  }


  // Responsive
  @media (max-width: vars.$bp-mobile) {
    .auth-container {
      margin: 30px 16px;
      padding: 1.8rem 1.2rem;

      h2 {
        font-size: 1.6rem;
      }

      input,
      button {
        font-size: 0.95rem;
      }
    }
  }
}