@use "../../../scss-components/variables" as *;
@use "../../../scss-components/mixins" as *;
@use "../../../scss-components/utilities" as *;


// ==============================
// Styles
// ==============================
.auth-container-main {
  min-height: 80vh;

  .auth-container {
    max-width: 420px;
    margin: 50px auto;
    background: linear-gradient(to right, #fdfbfb, #ebedee);

    box-shadow: $shadow-lg;
    font-family: $font-family;
    @include flex-center(null, null, null, column, 1.5rem);
    @include transitions(all);

    h2 {
      color: $color-text;
    }

    form {
      @include flex-center(null, null, null, column, 1rem);

      input {
        @include input-style;
      }

      button {
        @include button($color-primary, white, $color-primary-hover);
      }

      .success {
        color: $color-success;
      }

      .error {
        color: $color-error;
      }
    }
  }


  // Responsive
  @media (max-width: $bp-mobile) {
    .auth-container {
      margin: 30px 16px;
      padding: 1.8rem 1.2rem;

      h2 {
        font-size: 1.6rem;
      }

      input,
      button {
        font-size: 0.95rem;
      }
    }
  }
}