@use "./variables" as vars;

// ================================
// MIXINS
// ================================

@mixin transition($props...) {
  transition: $props 0.3s ease-in-out;
}

// flex center
@mixin flex-center(
  $justify-center: center,
  $align-center: center,
  $flex-wrap: wrap,
  $flex-direction: row,
  $gap: 0
) {
  display: flex;

  @if $justify-center != null {
    justify-content: $justify-center;
  }
  @if $align-center != null {
    align-items: $align-center;
  }
  @if $flex-wrap != null {
    flex-wrap: $flex-wrap;
  }
  @if $flex-direction != null {
    flex-direction: $flex-direction;
  }
  @if $gap != null {
    gap: $gap;
  }
}

// position mixin
@mixin position($position: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  @if $position != null {
    position: $position;
  }
  @if $top != null {
    top: $top;
  }
  @if $right != null {
    right: $right;
  }
  @if $bottom != null {
    bottom: $bottom;
  }
  @if $left != null {
    left: $left;
  }
}

// ==============================
// reset-password mixins
// ==============================
@mixin transitions($props...) {
  transition: $props 0.3s ease;
}

@mixin button($bg, $color, $hover-bg) {
  @include transitions(background-color);
  border-radius: vars.$radius-md;
  background-color: $bg;
  color: $color;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: $hover-bg;
  }
}

@mixin input-style {
  width: 100%;
  padding: 0.9rem 1.1rem;
  border: 2px solid vars.$color-border;
  border-radius: vars.$radius-md;
  font-size: 1rem;
  background-color: #fff;
  @include transitions(border, box-shadow);

  &:focus {
    border-color: vars.$color-primary;
    box-shadow: 0 0 0 3px rgba(vars.$color-primary, 0.15);
    outline: none;
  }

  &::placeholder {
    color: vars.$color-placeholder;
    font-style: italic;
  }
}
