@use 'sass:meta';
@use "sass:map";
@use 'sass:math';
@use "./variables" as vars;

$utilities: (
  "padding-top": (
    "prefix": "p-top",
    "values": ()
  ),
  "padding-right": (
    "prefix": "p-right",
    "values": ()
  ),
  "padding-bottom": (
    "prefix": "p-bottom",
    "values": ()
  ),
  "padding-left": (
    "prefix": "p-left",
    "values": ()
  ),
  "margin-top": (
    "prefix": "m-top",
    "values": ()
  ),
  "margin-right": (
    "prefix": "m-right",
    "values": ()
  ),
  "margin-bottom": (
    "prefix": "m-bottom",
    "values": ()
  ),
  "margin-left": (
    "prefix": "m-left",
    "values": ()
  ),
  "font-size": (
    "prefix": "fontSize",
    "values": ()
  ),
  "border-radius": (
    "prefix": "bord-radius",
    "values": ()
  )
);

@each $key, $data in $utilities {
  $values: ();
  @for $i from 0 through 50 {
    $val: if(sass($i == 0): 0; else: vars.$padding * $i);
    $values: map.merge($values, ($i: $val));
  }
  $utilities: map.merge(
    $utilities,
    (
      $key: map.merge($data, ("values": $values))
    )
  );
}

@each $key, $data in $utilities {
  $prefix: map.get($data, "prefix");
  $values: map.get($data, "values");

  @each $i, $val in $values {
    .#{$prefix}-#{$i} {
      #{$key}: $val;
    }
  }
}



// font weight
$fontWeight: (
  "font-weight": (
    "prefix": "f-weight",
    "values": (
      "0": 0,
      "100": 100,
      "200": 200,
      "300": 300,
      "400": 400,
      "500": 500,
      "600": 600,
      "700": 700,
      "800": 800,
      "900": 900,
      "1000": 1000,
    )
  )
);

@each $key, $data in $fontWeight {
  $prefix: map.get($data, "prefix");
  $values: map.get($data, "values");

  @each $i, $val in $values {
    .#{$prefix}-#{$i} {
      #{$key}: $val;
    }
  }
}



// opacity
$opacities: (
  "opacity": (
    "prefix": "o",
    "values": (
      "0": 0,
      "1": 0.1,
      "2": 0.2,
      "3": 0.3,
      "4": 0.4,
      "5": 0.5,
      "6": 0.6,
      "7": 0.7,
      "8": 0.8,
      "9": 0.9,
      "10": 1,
    )
  )
);

@each $key, $data in $opacities {
  $prefix: map.get($data, "prefix");
  $values: map.get($data, "values");

  @each $i, $val in $values {
    .#{$prefix}-#{$i} {
      #{$key}: $val;
    }
  }
}
