@use "../../../scss-components/utilities" as *;

:host {
  display: block;
}

.table {
  overflow: hidden;

  th {
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.05em;
  }

  td {
    vertical-align: middle;
  }

  .btn {
    transition: 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}