<section class="grid container">

  <!-- title -->
  <h2>{{ 'Admin Analytics Dashboard' | translate }}</h2>

  <!-- content -->
  <div class="card">
    <h3 class="text-dark">{{ 'Sales' | translate }}</h3>
    <canvas baseChart
            [data]="salesChartData"
            [type]="salesChartType"
    ></canvas>
  </div>

  <div class="card">
    <h3 class="text-dark">{{ 'Users' | translate }}</h3>
    <canvas baseChart
            [data]="usersChartData"
            [type]="usersChartType"
    ></canvas>
  </div>

  <div class="card col-span">
    <h3 class="text-dark">{{ 'Revenue' | translate }}</h3>
    <canvas baseChart
            [data]="revenueChartData"
            [type]="revenueChartType"
    ></canvas>
  </div>

</section>