.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.card {
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0,0,0,.06);
}

.col-span {
    grid-column:1/-1;
}