<!-- top -->

<hr>

<section class="toolbar d-flex justify-content-center">

  <!-- navbar -->
  <nav class="nav navbar navbar-expand-lg main-navbar">
    <ul class="nav-list navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/admin/dashboard']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          🏠 {{ 'Dashboard' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/admin/add-product']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          ➕ {{ 'Add Product' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/admin/edit-product/:id']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          ✏️ {{ 'Edit Product' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/admin/dashboard-analytics']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          📊 {{ 'Analytics' | translate }}
        </a>
      </li>
    </ul>
  </nav>

</section>

<hr>




<!-- content -->

<form class="card my-5"
      (ngSubmit)="saveProduct()"
      #f="ngForm"
>

  <!-- title -->
  <h2 class="my-3">➕ {{ 'Add Product' | translate }}</h2>

  <div class="grid">
    <label>
      {{ 'Title' | translate }}
      <input
        name="title"
        [ngModel]="product.title()"
        (ngModelChange)="product.title.set($event)"
        required
      />
    </label>

    <label>
      {{ 'Price' | translate}}
      <input
        name="price"
        type="number"
        min="0"
        [ngModel]="product.price()"
        (ngModelChange)="product.price.set($event)"
        required
      />
    </label>

    <label>
      {{ 'Category' | translate }}
      <input
        name="category"
        [ngModel]="product.category()"
        (ngModelChange)="product.category.set($event)"
      />
    </label>

    <label>
      {{ 'Image URL' | translate }}
      <input
        name="image"
        [ngModel]="product.image()"
        (ngModelChange)="product.image.set($event)"
      />
    </label>

    <label class="col-span">
      {{ 'Description' | translate }}
      <textarea
        name="description"
        rows="4"
        [ngModel]="product.description()"
        (ngModelChange)="product.description.set($event)">
      </textarea>
    </label>
  </div>

  <div class="actions">
    <button type="submit">
      {{ 'Save' | translate }}
    </button>
    <button type="button"
            class="btn-secondary"
            [routerLink]="['/admin/dashboard']"
    >
      {{ 'Cancel' | translate }}
    </button>
  </div>

</form>



<!-- toasts -->
<app-add-toasts #addToast></app-add-toasts>
<app-alert-toasts #alertToast></app-alert-toasts>
