<div class="container mt-4">

  <h2>➕ Add Product</h2>

  <!-- form for add products -->
  <form (ngSubmit)="saveProduct()">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" [(ngModel)]="product.title" name="title" title="title" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" [(ngModel)]="product.price" name="price" title="price" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea class="form-control" [(ngModel)]="product.description" name="description" title="description"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Category</label>
      <input type="text" class="form-control" [(ngModel)]="product.category" name="category" title="category">
    </div>

    <div class="mb-3">
      <label class="form-label">Image URL</label>
      <input type="text" class="form-control" [(ngModel)]="product.image" name="image" title="image">
    </div>

    <!-- add toasts -->
    <app-add-toasts #addToast></app-add-toasts>

    <!-- add -->
    <button
      type="submit"
      class="btn btn-success"
      (click)="addToast.openToast(`Add Product`)"
    >
      Add Product
    </button>

    <!-- cancel -->
    <a routerLink="/admin" class="btn btn-secondary">
      Cancel
    </a>
  </form>

</div>