<!-- top -->

<hr>

<section class="toolbar d-flex justify-content-center">

  <!-- navbar -->
  <nav class="nav navbar navbar-expand-lg main-navbar">
    <ul class="nav-list navbar-nav mx-auto">

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/admin/dashboard']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          🏠 {{ 'Dashboard' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/admin/add-product']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          ➕ {{ 'Add Product' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/admin/dashboard-analytics']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          📊 {{ 'Analytics' | translate }}
        </a>
      </li>

    </ul>
  </nav>

</section>

<hr>




<!-- content -->

<form class="card my-5 p-top-16 p-right-16 p-bottom-16 p-left-16 bord-radius-16"
      (ngSubmit)="saveProduct()"
      #f="ngForm"
>

  <!-- title -->
  <h2 class="my-3">➕ {{ 'Add Product' | translate }}</h2>

  <div class="grid">
    <label class="f-weight-600">
      {{ 'Title' | translate }}
      <input
        class="p-top-10 p-right-11 p-bottom-10 p-left-11 bord-radius-10"
        name="title"
        [ngModel]="product.title()"
        (ngModelChange)="product.title.set($event)"
        required
      />
    </label>

    <label class="f-weight-600">
      {{ 'Price' | translate}}
      <input
        class="p-top-10 p-right-11 p-bottom-10 p-left-11 bord-radius-10"
        name="price"
        type="number"
        min="0"
        [ngModel]="product.price()"
        (ngModelChange)="product.price.set($event)"
        required
      />
    </label>

    <label class="f-weight-600">
      {{ 'Category' | translate }}
      <input
        class="p-top-10 p-right-11 p-bottom-10 p-left-11 bord-radius-10"
        name="category"
        [ngModel]="product.category()"
        (ngModelChange)="product.category.set($event)"
      />
    </label>

    <label class="f-weight-600">
      {{ 'Image URL' | translate }}
      <input
        class="p-top-10 p-right-11 p-bottom-10 p-left-11 bord-radius-10"
        name="image"
        [ngModel]="product.image()"
        (ngModelChange)="product.image.set($event)"
      />
    </label>

    <label class="col-span f-weight-600">
      {{ 'Description' | translate }}
      <textarea
        class="p-top-10 p-right-11 p-bottom-10 p-left-11 bord-radius-10"
        name="description"
        rows="4"
        [ngModel]="product.description()"
        (ngModelChange)="product.description.set($event)">
      </textarea>
    </label>
  </div>

  <div class="actions m-top-12">
    <button type="submit"
            class="p-top-8 p-right-14 p-bottom-8 p-left-14 bord-radius-10 text-white bg-black"
    >
      {{ 'Save' | translate }}
    </button>
    <button type="button"
            class="btn-secondary p-top-8 p-right-14 p-bottom-8 p-left-14 bord-radius-10 bg-white text-black"
            [routerLink]="['/admin/dashboard']"
    >
      {{ 'Cancel' | translate }}
    </button>
  </div>

</form>



<!-- toasts -->
<app-add-toasts #addToast></app-add-toasts>
<app-alert-toasts #alertToast></app-alert-toasts>
