<!-- navbar -->
<nav class="navbar navbar-expand-lg main-navbar p-top-8 p-right-0 p-bottom-8 p-left-0"
    [ngClass]="isDarkMode() ? 'navbar-dark bg-dark' : 'navbar-light bg-light'"
>
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand fw-bold fontSize-15"
      [routerLink]="['/']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeMenu()"
    >
      TK<span class="text-primary">Shop</span>
    </a>


    <!-- Burger Menu -->
    <button class="navbar-toggler"
            type="button"
            (click)="toggleMenu()"
            title="{{ 'Menu' | translate }}"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Menu Items -->
    <div #navbarCollapse
      class="collapse navbar-collapse mobile-slide"
      [ngClass]="{ 'show': isMenuOpen() }"
    >
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link"
            [routerLink]="['/home']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
          >
            {{ 'home' | translate }}
          </a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link"
            [routerLink]="['/shop']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
          >
            {{ 'Shop' | translate }}
          </a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link"
            [routerLink]="['/categories']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
          >
            {{ 'Categories' | translate }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            [routerLink]="['/contact']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
          >
            {{ 'contact' | translate }}
          </a>
        </li>

        @if(isAdmin()) {
          <li class="nav-item">
            <a class="nav-link"
              [routerLink]="['/admin']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="closeMenu()"
            >
              {{ 'Admin' | translate }}
            </a>
          </li>
        }
      </ul>



      <!-- Right Side Actions -->
      <div class="d-flex align-items-center navbar-actions w-100 flex-wrap gap-2">

        <!-- first line -->
        <div class="rightSide-first-line w-100">

          <!-- Cart -->
          <a [routerLink]="['/cart']"
            class="btn btn-outline-primary position-relative cart-btn text-white"
            (click)="closeMenu()"
          >
            🛒
            @if( cartItemCount() > 0 ) {
              <span class="cart-badge text-white fontSize-11 f-weight-600 p-top-2 p-right-6 p-bottom-2 p-left-6">
                {{ cartItemCount() }}
              </span>
            }
          </a>



          <!-- Auth Links -->
          <div class="auth-links d-flex align-items-center fontSize-17">
            @if( !isLoggedIn() ) {

              <ng-container>
                <a class="text-decoration-none me-2 login btn btn-outline-success"
                  [routerLink]="['/auth/login']"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="closeMenu()"
                  >
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a>

                <span class="o-6">|</span>

                <a class="text-decoration-none ms-2 register btn btn-outline-warning"
                  [routerLink]="['/auth/register']"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="closeMenu()"
                >
                  <i class="fa-solid fa-user-plus"></i>
                </a>
              </ng-container>

            } @else {

              <a [routerLink]="['/auth/profile']"
                class="text-decoration-none me-2 btn btn-primary text-light"
              >
                <i class="fa-solid fa-user"></i>
              </a>

              <span class="o-6">|</span>

              <a [routerLink]="['/']"
                class="text-decoration-none ms-2 btn btn-danger text-light"
                (click)="logout()"
              >
                <i class="fa-solid fa-right-from-bracket"></i>
              </a>

            }
          </div>


          <!-- Theme Toggle -->
          <button type="button"
            class="btn btn-outline-secondary theme-btn"
            (click)="toggleTheme()"
          >
            {{ isDarkMode() ? sun() : moon() }}
          </button>


          <!-- language selector -->
          <ul class="text-decoration-none list-unstyled m-0">
            <li class="language-switcher">
              <select [ngModel]="selectedLanguage()"
                      (ngModelChange)="changeLanguage($event)"
                      title="language"
                      class="bord-radius-20 fontSize-17 f-weight-500 p-top-7 p-right-22 p-bottom-7 p-left-8"
              >
                @for( lang of languages; track $index ) {
                  <option [value]="lang.code"
                          (change)="closeMenu()"
                  >
                    {{ lang.code | translate }}
                  </option>
                }
              </select>
            </li>
          </ul>
        </div>


        <!-- second line -->
        <div class="rightSide-second-line w-100">
          <!-- Search -->
          @if(currentUrl() !== '/shop' &&
              currentUrl() !== '/contact' &&
              currentUrl() !== '/checkout' &&
              currentUrl() !== '/categories' &&
              currentUrl() !== '/auth/profile' &&
              currentUrl() !== '/auth/edit-profile' &&
              currentUrl() !== '/auth/login' &&
              currentUrl() !== '/auth/register' &&
              currentUrl() !== '/auth/reset-password' &&
              currentUrl() !== '/auth/user-profile'
          ) {
            <div class="search-box">
              <input type="text"
                id="search"
                name="search"
                class="form-control bord-radius-20 p-top-3 p-right-8 p-bottom-3 p-left-8"
                placeholder="{{ 'Search...' | translate }}"
                (input)="onSearch($event)"
              >
            </div>
          }


          <!-- Filter -->
          @if(currentUrl() !== '/contact' &&
              currentUrl() !== '/checkout' &&
              currentUrl() !== '/categories' &&
              currentUrl() !== '/auth/profile' &&
              currentUrl() !== '/auth/edit-profile' &&
              currentUrl() !== '/auth/login' &&
              currentUrl() !== '/auth/register' &&
              currentUrl() !== '/auth/reset-password' &&
              currentUrl() !== '/auth/user-profile'
          ) {
            <select class="form-select sortPriceSelect bord-radius-20 p-top-3 p-right-8 p-bottom-3 p-left-8"
                    name="select"
                    (change)="sortByPrice($any($event.target).value)"
            >
              <option value="">
                {{ 'Price' | translate}}
              </option>
              <option value="low">
                {{ 'Low → High' | translate }}
              </option>
              <option value="high">
                {{ 'High → Low' | translate }}
              </option>
            </select>
          }
        </div>

      </div>

    </div>

  </div>
</nav>
