<!-- top -->

<hr>

<section class="toolbar d-flex justify-content-center">

  <!-- navbar -->
  <nav class="nav navbar navbar-expand-lg main-navbar">
    <ul class="nav-list navbar-nav mx-auto">

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/admin/dashboard']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          🏠 {{ 'Dashboard' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/admin/dashboard-analytics']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          📊 {{ 'Analytics' | translate }}
        </a>
      </li>

    </ul>
  </nav>

</section>

<hr>




<!-- content -->

@if (product(); as p) {
  <form class="card my-5" (ngSubmit)="updateProduct()">

    <h2>✏ {{ 'Edit Product' | translate }} · #{{ p.id }}</h2>

    <div class="grid">
      <label>
        {{'Title' | translate }}
        <input
          name="title"
          [(ngModel)]="p.title"
          (ngModelChange)="onTitleChange($event)"
          required
      />
      </label>

      <label>
        {{ 'Price' | translate }}
        <input
          name="price"
          type="number"
          min="0"
          [(ngModel)]="p.price"
          (ngModelChange)="onPriceChange($event)"
          required
      />
      </label>

      <label>
        {{ 'Category' | translate }}
        <input
          name="category"
          [(ngModel)]="p.category"
          (ngModelChange)="onCategoryChange($event)"
      />
      </label>

      <label>
        {{ 'Image URL' | translate }}
        <input
          name="image"
          [(ngModel)]="p.thumbnail"
          (ngModelChange)="onThumbChange($event)"
      />
      </label>

      <label class="col-span">
        {{ 'Description' | translate }}
        <textarea
          name="description"
          rows="4"
          [(ngModel)]="p.description"
          (ngModelChange)="onDescChange($event)"
        >
        </textarea>
      </label>
    </div>

    <div class="actions">
      <button type="submit">
        {{ 'Save changes' | translate }}
      </button>
      <button type="button"
              class="btn-secondary"
              [routerLink]="['/admin/dashboard']"
      >
        {{ 'Cancel' | translate }}
      </button>
    </div>

  </form>
}




<!-- toasts -->
<app-accept-toasts #acceptToast></app-accept-toasts>
<app-alert-toasts #alertToast></app-alert-toasts>
<app-delete-toasts #deleteToast></app-delete-toasts>
<app-add-toasts #addToast></app-add-toasts>