<div class="container mt-4">

  <h2>✏ {{ 'Edit Product' | translate }}</h2>

  <form (ngSubmit)="updateProduct()">

    <div class="mb-3">
      <label class="form-label">
        {{ 'Title' | translate }}
      </label>
      <input type="text"
            class="form-control"
            [(ngModel)]="product().title"
            name="title"
            title="title"
            required
      >
    </div>

    <div class="mb-3">
      <label class="form-label">
        {{ 'Price' | translate }}
      </label>
      <input type="number"
            class="form-control"
            [(ngModel)]="product().price"
            name="price"
            title="price"
            required
      >
    </div>

    <div class="mb-3">
      <label class="form-label">
        {{ 'Description' | translate }}
      </label>
      <textarea class="form-control"
                [(ngModel)]="product().description"
                name="description"
                title="description"
      >
      </textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">
        {{ 'Category' | translate }}
      </label>
      <input type="text"
            class="form-control"
            [(ngModel)]="product().category"
            title="category"
            name="category"
      >
    </div>

    <div class="mb-3">
      <label class="form-label">
        {{ 'Image URL' | translate }}
      </label>
      <input type="text"
            class="form-control"
            [(ngModel)]="product().image"
            title="image"
            name="image"
      >
    </div>

    <button type="submit" class="btn btn-success">
      {{ 'Update' | translate }}
    </button>
    <a routerLink="/admin" class="btn btn-secondary">
      {{ 'Cancel' | translate }}
    </a>

  </form>

  <!-- toasts -->
  <app-accept-toasts #acceptToast></app-accept-toasts>
  <app-alert-toasts #alertToast></app-alert-toasts>
  <app-delete-toasts #deleteToast></app-delete-toasts>
  <app-add-toasts #addToast></app-add-toasts>

</div>
